[submodule "themes/blowfish"]
	path = themes/blowfish
	url = https://github.com/nunocoracao/blowfish.git
[submodule "themes/chicago7"]
	path = themes/chicago7
	url = https://github.com/akopdev/hugo-theme-chicago7
