@import "variables";

// Typography
@media #{$media-size-phone} {
  h1 {
    font-size: 1.6rem;
  }
}

// Body and things related to dark/light theme
body {
  &:not(.dark-theme) {
    background: #fafafa;

    .header {
      background: #f6f6f6;
    }
  }
}

// Main index page container
main[aria-role="main"] {
  > div {
    padding: 0 10px;
  }
}

// Header
.header {
  .logo {
    &__text {
      @media #{$media-size-phone} {
        font-size: 0.75rem;
      }
    }

    &__cursor {
      background-color: #9932cc;
    }
  }
}

// Footer
.footer {
  &__content {
    & > *:last-child {
      padding: 0;
    }
  }
}

// 404 page
.btn-404 {
  > a {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.25rem;
  }
}

// Work experience
.work-entry {
  margin-bottom: 2.5rem;

  &__header {
    display: flex;
    align-items: center;
    gap: .9rem;
    font-size: 1.125rem;

    img {
      width: 1.5rem;
      height: 1.5rem;
      border-radius: 8px;
      flex-shrink: 0;
      object-fit: cover;
    }
  }

  &__details {
    ul {
      margin-top: 0.5rem;
    }
  }
}
