/* Fonts */
@font-face {
  font-family: 'Ubuntu Mono Fallback';
  src: local(Courier New);
  size-adjust: 95%;
  ascent-override: 105%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-Regular.woff2') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-Bold.woff2') format('truetype');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-Italic.woff2') format('truetype');
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Ubuntu Mono';
  src: url('/fonts/UbuntuMono-BoldItalic.woff2') format('truetype');
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

/* CSS Variables */
:root {
  --animate-cursor: cursor 1s infinite;
  --font-prose: system-ui, sans-serif;
  --font-mono: 'Ubuntu Mono', 'Ubuntu Mono Fallback', ui-monospace, monospace;

  /* Colours */
  --heading-color: rgb(var(--color-secondary-500));
  --hero-img-bg: #eee;
}
.dark {
  --heading-color: rgb(var(--color-secondary-400));
  --hero-img-bg: #222;
}

/* Animations */
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Top level styles */
body {
  font-family: var(--font-mono);
}

/* Main content padding */
@media (min-width: 640px) {
  main#main-content {
    padding-inline: 1.5rem;
  }
}
@media print {
  main#main-content {
    padding-inline: 0px;
  }
}

/* Extra prose CSS */
.prose {
  font-family: var(--font-prose);

  /* Links */
  a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(to top, var(--tw-prose-links) 0%, var(--tw-prose-links) 100%);
    background-size: 100% 1px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease, color 0.1s ease;
  }

  a:hover {
    background-size: 100% 100%;
    color: #faf5ff;
  }
}
.max-w-prose {
  max-width: 75ch;
}

/* Headings */
:is(.prose, header#single_header) :is(h1, h2, h3, h4, h5, h6, .page-heading) {
  font-family: var(--font-mono);
  color: var(--heading-color);
}

/* Post Images */
img.single_hero_round {
  height: clamp(250px, 50vw, 40vh);
  max-height: unset;
  background-color: var(--hero-img-bg);
}

/* Print Style overrides */
@media print {
  :root {
    --heading-color: rgb(var(--tw-prose-headings));
  }

  .exact-print {
    print-color-adjust: exact;
  }

  .prose {
    :is(h1, h2, h3, h4, h5, h6) {
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(var(--color-primary-200));
    }

    hr {
      display: none;
    }

    a {
      background: none;
    }
  }
}
