/* Fonts */
@font-face {
  font-family: 'Atkinson Fallback';
  src: local(Tahoma);
  size-adjust: 99%;
  ascent-override: 104%;
  descent-override: normal;
  line-gap-override: normal;
}

@font-face {
  font-family: 'Iosevka Fallback';
  src: local(Courier New);
  size-adjust: 84%;
  ascent-override: 119%;
  descent-override: normal;
  line-gap-override: normal;
}

/* CSS Variables */
:root {
  --animate-cursor: cursor 1s infinite;
  --font-prose: 'Atkinson Hyperlegible', 'Atkinson Fallback', 'Open Sans', Helvetica, system-ui, sans-serif;
  --font-mono: 'Iosevka Web', 'Iosevka Fallback', 'Consolas', 'Monaco', monospace;

  /* Colours */
  --heading-color: rgb(var(--color-secondary-500));
  --hero-img-bg: #eee;
}
.dark {
  --heading-color: rgb(var(--color-secondary-400));
  --hero-img-bg: #222;
}

/* Animations */
@keyframes cursor {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

/* Top level styles */
body {
  font-family: var(--font-mono);
}

/* Main content padding */
@media (min-width: 640px) {
  main#main-content {
    padding-inline: 1.5rem;
  }
}
@media print {
  main#main-content {
    padding-inline: 0px;
  }
}

/* Extra prose CSS */
.prose {
  font-family: var(--font-prose);

  /* Links */
  a {
    position: relative;
    text-decoration: none;
    background: linear-gradient(to top, var(--tw-prose-links) 0%, var(--tw-prose-links) 100%);
    background-size: 100% 2px;
    background-position: 0 100%;
    background-repeat: no-repeat;
    transition: background-size 0.1s ease, color 0.1s ease;
  }

  a:hover {
    background-size: 100% 100%;
    color: #faf5ff;
  }
}

/* Headings */
:is(.prose, header#single_header) :is(h1, h2, h3, h4, h5, h6, .page-heading) {
  font-family: var(--font-mono);
  color: var(--heading-color);
}

/* Post Images */
img.single_hero_round {
  min-height: 50vh;
  background-color: var(--hero-img-bg);
}

/* Print Style overrides */
@media print {
  :root {
    --heading-color: rgb(var(--tw-prose-headings));
  }

  .exact-print {
    print-color-adjust: exact;
  }

  .prose {
    :is(h1, h2, h3, h4, h5, h6) {
      margin-bottom: 1rem;
      border-bottom: 1px solid rgba(var(--color-primary-200));
    }

    hr {
      display: none;
    }

    a {
      background: none;
    }
  }
}
