{{ if not .Params.images }}
<meta property="og:image" content="{{ "/og-image.png" | absURL }}" />
<meta name="twitter:image" content="{{ "/og-image.png" | absURL }}" />
{{ end }}

<link rel="preload" href="/fonts/UbuntuMono-Regular.woff2" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/UbuntuMono-Bold.woff2" as="font" type="font/ttf" crossorigin />

<script src="https://cdn.jsdelivr.net/npm/typeit@7.0.4/dist/typeit.min.js" defer></script>

{{ $js := resources.Get "js/custom.js" | js.Build | fingerprint }}
<script src="{{ $js.RelPermalink }}" integrity="{{ $js.Data.Integrity }}"></script>
