{{ with .Page.Resources.Get "contact.json" }}{{ with . | transform.Unmarshal }}
<div class="print-only">
  <div class="print-block">
    <div class="print-block-row">
      <span class="print-block-label">email:</span>
      <a href="mailto:{{ .email }}">{{ .email }}</a>
    </div>
    <div class="print-block-row">
      <span class="print-block-label">website:</span>
      <a href="{{ .website }}" target="_blank" rel="noopener">{{ .website }}</a>
    </div>
    <div class="print-block-row">
      <span class="print-block-label">linkedin:</span>
      <a href="{{ .linkedin }}" target="_blank" rel="noopener">{{ .linkedin }}</a>
    </div>
  </div>
</div>
{{ end }}{{ end }}
