{{ with .Page.Resources.Get "work.json" }}
  {{ with . | transform.Unmarshal }}
    {{ range . }}
      {{ $company := .company }}
      <div class="work-entry" style="margin-bottom: 2.5rem;">
        <div class="work-entry__header" style="display: flex; align-items: center; gap: .9rem; font-size: 1.125rem;">
          <a href="{{ .url }}" title="{{ $company }}">
            {{ with $.Page.Resources.Get .logo }}
              <img src="{{ .RelPermalink }}" alt="{{ $company }} logo" style="width: 1.5rem; height: 1.5rem; border-radius: 8px; flex-shrink: 0; object-fit: cover;" />
            {{ end }}
          </a>
          <span style="margin: 0;"><strong>{{ .title }}</strong> at <a href="{{ .url }}">{{ .company }}</a> ({{ .period }})</span>
        </div>
        <div class="work-entry__details">
          <ul style="margin-top: 0.5rem;">
            {{ range .highlights }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
