{{ with .Page.Resources.Get "work.json" }}
  {{ with . | transform.Unmarshal }}
    {{ range . }}
      {{ $company := .company }}
      <div class="work-entry">
        <div class="work-entry__header">
          <a href="{{ .url }}" title="{{ $company }}">
            {{ with $.Page.Resources.Get .logo }}
              <img src="{{ .RelPermalink }}" alt="{{ $company }} logo" />
            {{ end }}
          </a>
          <span>
            <strong>{{ .title }}</strong> at <a href="{{ .url }}">{{ .company }}</a> ({{ .period }})
          </span>
        </div>
        <div class="work-entry__details">
          <ul>
            {{ range .highlights }}
              <li>{{ . }}</li>
            {{ end }}
          </ul>
        </div>
      </div>
    {{ end }}
  {{ end }}
{{ end }}
